.App {
  text-align: center;
  background-color: #b18409;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }
}
.titulo {
  font-size:38px;
  padding-top:25px;
}
.logoClass {
  padding-top: 25px;
}
.formatButtons{
  padding-top: 100px;
  padding-left: 50px;
}

.buttonClass{
  background-color: #70561f;
  width: 200px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
}
.App-header {
  background-color: #8a6f24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(192, 157, 40);
}

.App-link {
  color: #e0c66f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
