.App {
  text-align: center;
  background-color: #b18409;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-left: 150px;
  }
}
.principal {
  padding-top: 5px;
}
.titulo {
  font-size:38px;
  padding-top:25px;
}
.logoClass {
  padding-top: 25px;
}
.appBar {
  background-color: brown;
}
.App-header {
  background-color: #8a6f24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(192, 157, 40);
}

.App-link {
  color: #e0c66f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div > div > ul > div >div > div{
  border:0.1em rgb(80, 80, 92) solid;
  background-color:rgb(159, 166, 180);
  text-align: center;
}

div > div > ul {
  background-color: rgb(215, 217, 219);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  
}
div > div > ul > div{
  padding: 1em;
}