.principal {
    margin-top: 7em;

}
body{
    background-color: #fffaee;
}
header {
    background-color: #f3af2f;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 12px;
    }
    .btnBuy {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 8px;
    }
    .btnBuy {
        font-size: 8px !important;
    }
}

@import "BouncingText.css";
@import "Catalog.css";
@import "Showcases.css";
@import "Product.css";
@import "LoginRegister.css";
@import "SpinningLogo.css";
@import "PaymentProcess.css";
@import "CartItem.css";
@import "ShoppingCart.css";