.cartItem-ci{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,1fr);
}

.quantityController-ci {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;


    
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
}

