.buttonCls {
    padding:10px;
    margin:10px;
}
.loginBackground{
    text-align: center;
    background-image: url("../images/interfaz/rocas.png");   
    background-size:cover;     
    overflow:auto;
    position: absolute;
    top:65px;
    left:0;
    width: 100%;
    height: 100%;

}
.registerForm {
    background-color: rgba(129, 129, 150, 0.7);
    outline-color:black;
    outline-style: groove;
    width: 30%;
    height: 30%;
    text-align: center;
    margin:0 auto;
}
.quantityController-ci {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;


    
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,auto);
}

  