.paymentpage-payment {
  padding: 3%;
}

#title-payment {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 2;

  text-align: "left";

  padding: 2%;

  background-color: #f3af2f;
}

#info-payment {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);

  text-align: center;
  align-content: center;
}
#articles-payment {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 2;

  text-align: left;

  padding-right: 20%;
}
#articles-list-payment {
  padding: 10%;
  padding-left: 20%;
  border-width: 1em;
  border-style: solid;
  border-color: #f3af2f;
}
#items-payment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  text-align: left;
}

#bill-payment {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 2;
  grid-column-end: 3;

  text-align: left;

  padding-right: 20%;
}
#costList-payment {
  padding: 10%;
  padding-left: 20%;
  border-width: 1em;
  border-style: solid;
  border-color: #f3af2f;
}

#actionButtons-payment {
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
  padding: 1em;

  text-align: center;
}
#items-name-payment {
  text-align: left;
  padding-right: 10%;
}
#items-quantity-payment {
  text-align: center;
  padding-right: 10%;
}
#items-total-payment {
  text-align: right;
}
