.product {
  padding: 1em;
  text-align: center;
  height: 100%;
}

.btnBuy{
  position: relative;
  top:2em !important;
}

.productDataText{
  margin-top: -2em !important;
}
.productDataContainer{
  margin-top: 1em;
  height: 2.5em;
}
@media only screen and (max-width: 1000px) {
  .productDataText{
    margin-top: -1.5em !important;
  }
}
@media only screen and (max-width: 800px) {
  .productDataText{
    margin-top: -1em !important;
  }
}