.showcase {
  border: rgb(230, 237, 241) 0.3em solid;
  background-color: #d8e3f7;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#showcases {
  max-width: max-content;
  border: #f3af2f 0.5em solid;
  border-radius: 1em;
  position: relative;
  right: 15%;
  width: 125%;
  gap: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.titleOfShowcase {
  text-shadow: 2px 2px 8px #91b6fc;
  background-color: #f3af2f;
}
.showcase > .product > .infoProduct {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  column-gap: 1em;
}
